*{
  display: grid;
}
body{
  background-color: #010101;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
input {
  font-size: 200%;
  border-width:2px;
  border-color:white;
  background-color: #010101;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
button {
  border-color:white;
  background-color: #010101;
  color: white;
  font-size: 200%;
  padding: 10px;
}
h1{
  font-family: 'Roboto Slab', serif;
  color: white;
}
h2{
  margin: 50px;
  font-family: 'Roboto Slab', serif;
  color: white;
}
h3{
  margin: 50px;
  font-family: 'Roboto Slab', serif;
  color: rgb(100, 0, 0);
  text-align: center;
  font-size: 150px;
}
footer{
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  color: rgb(100, 0, 0);
  margin-top: 10%;
}
@media screen and (max-width: 600px) {
}